@use '../abstracts' as abs;

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.game-container {
    width: calc(#{abs.$num-cells-per-row} * #{abs.$cell-size});
    height: calc(#{abs.$num-cells-per-column} * #{abs.$cell-size});
    margin: auto;
    position: relative;
    grid-column: 2;
    grid-row: 2;
    background: #000;
    overflow: hidden;
}

.background {
    &__grid {
        box-sizing: content-box;
        width: calc((#{abs.$num-cells-per-row} + 2) * #{abs.$cell-size});
        height: calc((#{abs.$num-cells-per-column} + 2) * #{abs.$cell-size});
        margin: auto;
        border: 1px solid black;
        border-radius: 20px;
        overflow: hidden;
        display: grid;
        grid-template-columns:
            [first-col] abs.$cell-size repeat(
                abs.$num-cells-per-row,
                abs.$cell-size
            )
            [last-col] abs.$cell-size;
        grid-template-rows:
            [first-row] abs.$cell-size repeat(
                abs.$num-cells-per-column,
                abs.$cell-size
            )
            [last-row] abs.$cell-size;
    }

    &__column {
        // background-color: black;
        width: abs.$cell-size;
        height: calc((#{abs.$num-cells-per-column} + 2) * #{abs.$cell-size});
        display: grid;
        grid-row: 1;
        grid-template-rows: repeat(
            calc(#{abs.$num-cells-per-column} + 2),
            abs.$cell-size
        );

        &--left {
            grid-column: first-col;
        }

        &--right {
            grid-column: last-col;
        }
    }

    &__row {
        // background-color: red;
        width: calc(#{abs.$num-cells-per-row} * #{abs.$cell-size});
        height: abs.$cell-size;
        display: grid;
        grid-column: 2;
        grid-template-columns: repeat(
            abs.$num-cells-per-column,
            abs.$cell-size
        );

        &--top {
            grid-row: first-row;
        }

        &--bottom {
            grid-row: last-row;
        }
    }

    &__cell {
        box-sizing: border-box;
        width: abs.$cell-size;
        height: abs.$cell-size;
        border: outset 5px abs.$border-cell-border-color;
        background: abs.$border-cell-color;
    }
}
