// cell dimensions
$cell-size: 4rem;
$num-cells-per-row: 16;
$num-cells-per-column: 20;

//colors
$border-cell-color: #717171;
$border-cell-border-color: #a5a5a5;

$block-line-color: #81f5f2;
$block-line-border-color: #a0fffd;

$block-el-color: #203da6;
$block-el-border-color: #3051c7;

$block-el-reverse-color: #ea7900;
$block-el-reverse-border-color: #ff911c;

$block-square-color: #f4f010;
$block-square-border-color: #fffd93;

$block-zigzag-color: #8ae912;
$block-zigzag-border-color: #adff46;

$block-zigzag-reverse-color: #e54802;
$block-zigzag-reverse-border-color: #ff6c2a;

$block-cake-color: #ca60c4;
$block-cake-border-color: #f56ced;
